body {
	margin: 0;
}

nav {
	background: linear-gradient(to right, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.6), rgba(0, 0, 255, 0.6));
	text-align: center;
	width: 100vw;
	height: 50px;
	line-height: 50px;
	margin: 0;
	z-index: 1030;
	position: fixed;
	display: block;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: inline;
			font-size: 20px;
			margin-right: 10px;
			a{
				text-decoration: none;
				color: #000;
			}
			&:nth-child(3){
				font-size: 30px;
			}
		}
	}
}

.about {
	background: linear-gradient(to right, pink, red);
	width: 100vw;
	height: calc(100vh - 50px);
	padding-top: 50px;
}

.contact {
	height: 100vh;
}

