$background: #fefefe;
$text: #4b507a;

$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;

body {
	margin: 0;
}

nav {
	background: linear-gradient(to right, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.6), rgba(0, 0, 255, 0.6));
	text-align: center;
	width: 100vw;
	height: 50px;
	line-height: 50px;
	margin: 0;
	z-index: 1030;
	position: fixed;
	display: block;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: inline;
			font-size: 20px;
			margin-right: 10px;
			a{
				text-decoration: none;
				color: #000;
				background: none;
				position: relative;
				vertical-align: middle;
				transition: color 0.8s;
				&::before {
					box-sizing: inherit;
					content: '';
					position: absolute;
					border: 2px solid transparent;
					width: 0;
				  	bottom: 0;
				  	left: 0;
				}
				&:hover{
				  	color: $blue;
				}
				&:hover::before{
					width: 100%;
				  	border-bottom-color: $blue;
				  	transition: ease-out 0.8s;
				}
			}
			&:nth-child(3){
				font-size: 30px;
			}
		}
	}
}

.hover{
	color: $blue;
	transition: color 0.8s;
	&::before {
		width: 100%;
		border-bottom-color: $blue;
		transition: ease-out 0.8s;
	}
}

.home{
	background: linear-gradient(to right, pink, red);
	width: 100vw;
	height: calc(100vh - 50px);
	padding-top: 50px;
}

.about {
	height: 100vh;
	background-color: grey;
}

.contact {
	height: 100vh;
}

.projects{
	height: 100vh;
}


